@font-face {
    font-family: "Agency";
    src: url("./../fonts/Agency.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Eurostile";
    src: url("./../fonts/EuroStyleNormal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* 
    NavBar
*/
.fixed {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 60%);
    z-index: 1200;
}
.navbar {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f0d91b;
    background: transparent;
    flex-wrap: nowrap;
}
/* 
    toggle menu button CSS
*/
.toggle-button {
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
}
.toggle-button span {
    height: 0.5rem;
    background-color: white;
    display: block;
    border-radius: 20rem 30rem 30rem 20rem;
}
.toggle-button:hover span,
.toggle-button:focus span {
    background-color: #fe327e;
}
.toggle-button span:first-child {
    margin-bottom: 1rem;
    width: 5rem;
}
.toggle-button span:last-child {
    width: 2.5rem;
}

/* 
    navbar titles
*/
.navbar-elemets {
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-item {
    display: none;
    margin: 0 3rem;
}
.navbar-item.navbar-item-main {
    display: block;
}
.navbar-item:first-child {
    margin-left: 0rem;
}
.navbar-item:last-child {
    margin-right: 0rem;
}
.navbar-item-main h2 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.8rem;
    color: white;
}
.navbar-item a {
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.2rem;
}
.navbar-item a:after {
    content: "";
    margin-top: 0.5rem;
    background: #fe327e;
    width: 3rem;
    padding: 0.2rem;
    opacity: 0;
}
.navbar-item.navbar-item-main a::after {
    width: 100%;
}
a:hover {
    color: white;
}
.navbar-item a:hover::after,
.navbar-item a:hover:focus {
    opacity: 1;
}
/* 
    NavIcons
*/
.nav-icons svg {
    font-size: 2.5rem !important;
}
.nav-icons svg:hover,
.nav-icons svg:focus {
    fill: #fe327e !important;
}

.nav-icons li {
    margin: 0 0.1rem;
}
.nav-icons li:first-child {
    margin-left: 0;
}
.nav-icons li:last-child {
    margin-right: 0;
}
.MuiButton-text {
    padding: 0 !important;
}
.MuiMenuItem-root {
    color: black !important;
    font-size: 2rem !important;
}
/* 
    Hero
*/
.hero {
    position: relative;
    height: 100vh;
}
.hero-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5rem;
}

.hero-title h1 {
    text-transform: uppercase;
    font-size: 8rem;
    margin-bottom: 1rem;
    line-height: 7rem;
}
.hero-title > .hero-im {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    line-height: 1rem;
    padding-left: 2rem;
    color: var(--clr-blue);
}

.hero-image {
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.hero-image img {
    width: calc(44.9rem * 1.1);
    height: calc(46.4rem * 1.1);
}
/* 
    content
*/

.MuiRating-iconEmpty {
    color: var(--clr-dark-blue) !important;
}
.MuiRating-iconFilled {
    color: var(--clr-yellow);
}
.rate-label {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Eurostile";
    letter-spacing: 0.2rem;
}
