.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.container-fluid {
    width: 100%;
    padding: 0px;
}
